.modal-clear{
    background-color: #EB5757;
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: white;

}
